@import './config';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: $ff;
    font-size: $fs;

    @include desktop{
        font-size: $fs * 1.25;
    }
}

